In [1]:
import requests
import pandas as pd
from config import *

## Art Institute of Chicago
------------------------------

In [4]:
# Extracting data from Art Institute of Chicago API
chicago_df = pd.DataFrame()
for i in range(150):
    r = requests.get(url = f'https://api.artic.edu/api/v1/artworks?page={i}&limit=100').json()
    r = pd.json_normalize(r, ['data'])
    chicago_df = chicago_df.append(r, ignore_index=True) # type: ignore

print(len(chicago_df))
chicago_df.head(5)
#df = pd.read_csv(r'C:\Users\Manuel Elizaldi\Desktop\Learning-Testing\Artificial-Art\Resources\bigChicago_art.csv')

15000

,id,api_model,api_link,is_boosted,title,alt_titles,main_reference_number,has_not_been_viewed_much,boost_rank,date_start,...,thumbnail.height,thumbnail.alt_text,color.h,color.l,color.s,color.percentage,color.population,suggest_autocomplete_boosted,thumbnail,color
0,9505,artworks,https://api.artic.edu/api/v1/artworks/9505,False,Two Studies of a Roma Woman and a Roma Boy in ...,None,1959.2,False,None,1600,...,5093.0,A work made of pen and black iron gall ink on ...,340.0,32.0,9.0,0.007082,44.0,NaN,NaN,NaN
1,11723,artworks,https://api.artic.edu/api/v1/artworks/11723,True,Woman at Her Toilette,None,1924.127,False,None,1870,...,3703.0,"Painted portrait dominated by loose, large bru...",207.0,57.0,51.0,0.001128,6.0,Woman at Her Toilette,NaN,NaN
2,14572,artworks,https://api.artic.edu/api/v1/artworks/14572,True,The Millinery Shop,None,1933.428,False,None,1874,...,4543.0,Impressionist painting of woman wearing green ...,38.0,46.0,54.0,0.003877,25.0,The Millinery Shop,NaN,NaN
3,13096,artworks,https://api.artic.edu/api/v1/artworks/13096,False,The Baptism of the Eunuch,None,1924.618,False,None,1641,...,2250.0,A work made of etching on buff laid paper.,37.0,75.0,28.0,0.020837,127.0,NaN,NaN,NaN
4,21977,artworks,https://api.artic.edu/api/v1/artworks/21977,False,Melon-Shaped Ewer with Stylized Flowers,None,1964.972,False,None,1101,...,2250.0,A work made of stoneware with celadon glaze an...,37.0,68.0,77.0,0.000283,2.0,NaN,NaN,NaN

In [5]:
chicago_df.to_csv(r'C:\Users\USER\Desktop\Learning\ArtifactAnalysis\Resources\chicago_df.csv')

# Smithsonian
------------------------

In [6]:
base_url = 'https://api.si.edu/openaccess/api/v1.0/terms/:Africa'
params = {'api_key':smithsonian_api_key}
r = requests.get(base_url, params=params).json()
r

{'status': 200,
 'responseCode': 1,
 'response': {'message': 'Your request is missing parameters. Refer to documentation.'}}

In [12]:
base_url = 'https://api.si.edu/openaccess/api/v1.0/search'

places = ['Africa','Asia','Canada','Central America - Neotropics','China','Colombia','Costa Rica',
          'Ecuador','Europe','Mexico','Pacific Islands','Panama','Peru',
          'Philippines','South America - Neotropics','South America','Venezuela','West Indies - Neotropics ']

# places = ['Africa','Asia','Canada']

all_data = []
iter = 1

for i in places:
    print(i)
    params = {
    'api_key':'ZNrnHGnCfKMQoe8v37pZx6PdEG02bvj5OQFApMk9',
    'q':i,
    'rows':10,
    'start':0}
    for i in range(25):
        # Maybe implement a if len(df)<1500
            # break
        r = requests.get(url = base_url, params=params)
        if r.status_code == 200:
            data = r.json()
            data = data['response']['rows']
            if not data:
                break
            
            all_data.extend(data)
            
            # Increment the starting index for the next request
            params['start'] += params['rows']
        else:
            print(f"Error {r.status_code}: {r.text}")
            break
        
smithsonian_df = pd.json_normalize(all_data)

Africa
Asia
Canada
Central America - Neotropics
China
Colombia
Costa Rica
Ecuador
Europe
Mexico
Pacific Islands
Panama
Peru
Philippines
South America - Neotropics
South America
Venezuela
West Indies - Neotropics

In [13]:
print(len(smithsonian_df))

4500

In [16]:
smithsonian_df.to_csv(r'C:\Users\USER\Desktop\Learning\ArtifactAnalysis\Resources\smithsonian_df.csv', index=False)

In [ ]:
# smithsonian_df = all_data_df[[
#     "id",
#     "title",
#     "content.descriptiveNonRepeating.record_link",
#     "content.descriptiveNonRepeating.title.content",
#     "content.descriptiveNonRepeating.data_source",
#     "content.indexedStructured.date",
#     "content.indexedStructured.object_type",
#     "content.indexedStructured.name",
#     "content.indexedStructured.topic",
#     "content.indexedStructured.language",
#     "content.indexedStructured.place",
#     "content.freetext.date",
#     "content.indexedStructured.culture",
#     "content.indexedStructured.online_media_type",
#     "content.freetext.culture",
#     "content.freetext.publisher"
# ]]

# all_data_df

In [ ]:
# Second step, clean the data possible second or third step is to filter.

# cols = ['id','title','content.descriptiveNonRepeating.record_link','content.descriptiveNonRepeating.title.content'
# 'content.descriptiveNonRepeating.data_source','content.indexedStructured.date','content.indexedStructured.object_type','content.indexedStructured.name',
# 'content.indexedStructured.topic','content.indexedStructured.language','content.indexedStructured.place','content.freetext.date','content.indexedStructured.culture',
# 'content.indexedStructured.online_media_rights','content.indexedStructured.online_media_type','content.freetext.culture','content.freetext.publisher']

## MET: data was downloaded directly from Github
----------

In [8]:
met_df = pd.read_csv(r'C:\Users\USER\Desktop\Learning\CultureAnalysis\Resources\Met_data.csv', encoding='latin1')
met_df.head(5)

,Object Number,Is Timeline Work,Is Public Domain,Object ID,Gallery Number,Department,AccessionYear,Object Name,Title,Culture,...,River,Classification,Rights and Reproduction,Link Resource,Object Wikidata URL,Metadata Date,Repository,Tags,Tags AAT URL,Tags Wikidata URL
0,04.1aÂ–c,True,False,35,706,The American Wing,1904.0,Vase,The Adams Vase,American,...,NaN,NaN,NaN,http://www.metmuseum.org/art/collection/search/35,https://www.wikidata.org/wiki/Q83545838,NaN,"Metropolitan Museum of Art, New York, NY",Animals|Garlands|Birds|Men,http://vocab.getty.edu/page/aat/300249525|http...,https://www.wikidata.org/wiki/Q729|https://www...
1,51.12.2,True,True,200,708,The American Wing,1951.0,Armchair,Spindle-back armchair,American,...,NaN,NaN,NaN,http://www.metmuseum.org/art/collection/search...,https://www.wikidata.org/wiki/Q29382862,NaN,"Metropolitan Museum of Art, New York, NY",NaN,NaN,NaN
2,1986.204,True,True,214,736,The American Wing,1986.0,Armchair,Armchair,American,...,NaN,NaN,NaN,http://www.metmuseum.org/art/collection/search...,https://www.wikidata.org/wiki/Q83560001,NaN,"Metropolitan Museum of Art, New York, NY",NaN,NaN,NaN
3,1970.35.1,True,True,237,736,The American Wing,1970.0,Armchair,Armchair,American,...,NaN,NaN,NaN,http://www.metmuseum.org/art/collection/search...,https://www.wikidata.org/wiki/Q29382865,NaN,"Metropolitan Museum of Art, New York, NY",Sphinx,http://vocab.getty.edu/page/aat/300375739,https://www.wikidata.org/wiki/Q151480
4,25.173aÂ–o,True,False,282,700,The American Wing,1925.0,Window,Autumn Landscape,American,...,NaN,NaN,NaN,http://www.metmuseum.org/art/collection/search...,https://www.wikidata.org/wiki/Q83560015,NaN,"Metropolitan Museum of Art, New York, NY",Windows|Waterfalls|Landscapes|Autumn,http://vocab.getty.edu/page/aat/300002944|http...,https://www.wikidata.org/wiki/Q35473|https://w...

# MoMA
------------------
#### File downloaded from GitHub

In [9]:
moma_df = pd.read_csv(r'C:\Users\USER\Desktop\Learning\ArtifactAnalysis\Resources\moma.txt')
moma_df

,ConstituentID,DisplayName,ArtistBio,Nationality,Gender,BeginDate,EndDate,Wiki QID,ULAN
0,1,Robert Arneson,"American, 1930â€“1992",American,Male,1930,1992,NaN,NaN
1,2,Doroteo Arnaiz,"Spanish, born 1936",Spanish,Male,1936,0,NaN,NaN
2,3,Bill Arnold,"American, born 1941",American,Male,1941,0,NaN,NaN
3,4,Charles Arnoldi,"American, born 1946",American,Male,1946,0,Q1063584,500027998.0
4,5,Per Arnoldi,"Danish, born 1941",Danish,Male,1941,0,NaN,NaN
...,...,...,...,...,...,...,...,...,...
15238,135018,Abdoulaye KonatÃ©,"Malian, born 1953",Malian,NaN,1953,0,NaN,NaN
15239,135032,Yolanda Lopez,"American, 1942 â€“ 2021",American,Female,1942,2021,NaN,NaN
15240,135042,Arnt Jensen,"Danish, born 1971",Danish,Male,1971,0,NaN,NaN
15241,135111,After Sophie Taeuber-Arp,"French, born Switzerland. 1889â€“1943",NaN,NaN,0,0,NaN,NaN
15242,135298,William Theophilius Brown,"American, 1919â€“2012",American,Male,1919,2012,NaN,NaN

# Rijks Museum
---------------

In [4]:
url = f'https://www.rijksmuseum.nl/api/nl/collection/SK-C-5?key={rijks_api_key}'
r = requests.get(url).json()

,elapsedMilliseconds,artObject.links.search,artObject.id,artObject.priref,artObject.objectNumber,artObject.language,artObject.title,artObject.copyrightHolder,artObject.webImage.guid,artObject.webImage.offsetPercentageX,...,artObjectPage.tags,artObjectPage.plaqueDescription,artObjectPage.audioFile1,artObjectPage.audioFileLabel1,artObjectPage.audioFileLabel2,artObjectPage.createdOn,artObjectPage.updatedOn,artObjectPage.adlibOverrides.titel,artObjectPage.adlibOverrides.maker,artObjectPage.adlibOverrides.etiketText
0,170,http://www.rijksmuseum.nl/api/nl/collection,nl-SK-C-5,5216,SK-C-5,nl,De Nachtwacht,None,bbd1fae8-4023-4859-8ed1-d38616aec96c,50,...,[],Rembrandts beroemdste en grootste doek werd ge...,None,None,None,2012-08-09T14:47:53.679885+00:00,2012-10-31T10:52:16.0492047+00:00,None,None,None

In [9]:
# Define the base URL for the Rijksmuseum API
base_url = "https://www.rijksmuseum.nl/api/en"

# Set the page size (number of items per page)
page_size = 100 

# Initialize variables for pagination
page_number = 1
all_items = []

while True:
    url = f"{base_url}/collection?key={rijks_api_key}&p={page_number}&ps={page_size}"
    response = requests.get(url)
    
    if response.status_code == 200:
        page_data = response.json()
        
        # Extracting objects
        items_on_page = page_data["artObjects"]
        all_items.extend(items_on_page)

        # Check if there are more pages to retrieve
        if len(items_on_page) < page_size:
            break  # All items have been retrieved
        else:
            page_number += 1  # Move to the next page
    else:
        print(f"Failed to retrieve data. Status code: {response.status_code}")
        break

# Now, all_items contains information about all items in the collection
print(f"Total items retrieved: {len(all_items)}")

Total items retrieved: 10000

In [11]:
rijks_df = pd.json_normalize(all_items)
rijks_df.to_csv(r'C:\Users\USER\Desktop\Learning\ArtifactAnalysis\Resources\rijksmuseum.csv')